{% extends "base.html" %}

{% block content %}
{% url 'web_profile' as cancel_url %}
<div class="form-page">
    <p class="form-page-lead">Choose a strong password that you do not use for another account.</p>
    <div class="card standard-form-card">
        {% include "partials/form_section_header.html" with icon="key-round" title="Password security" subtitle="Usalama wa nenosiri" %}
        <form method="post" class="standard-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-grid form-grid-single">
                {% include "partials/form_field.html" with field=form.old_password label="Current Password" label_sw="Nenosiri la sasa" %}
                {% include "partials/form_field.html" with field=form.new_password1 label="New Password" label_sw="Nenosiri jipya" help_text="Use a unique password that is difficult to guess." %}
                {% include "partials/form_field.html" with field=form.new_password2 label="Confirm New Password" label_sw="Thibitisha nenosiri jipya" %}
            </div>
            {% include "partials/form_actions.html" with cancel_url=cancel_url submit_label="Change Password" submit_icon="key-round" %}
        </form>
    </div>
</div>
{% endblock %}
